{% extends 'appFive/base.html' %}
    {% block body_block %}
<div class="jumbotron">
Login Here!
</div>
<div class="container">
    <form action="{% url 'appFive:user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">User Name:</label>
        <input type="text" name="username" placeholder="User Name">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <input type="submit" name="" value="Login">
    </form>
</div>
{% endblock %}